.popup__text {
    font-family: "Inter", ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    width: 358px;
}

@media screen and (max-width: 500px) {
    .popup__text {
        max-width: 220px;
        padding-left: 20px;
        padding-top: 7px;
        font-size: 18px;
    }
}
