.popup__container {
    width: 430px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    justify-content: space-around;
    padding-top: 13px;
}
@media screen and (max-width: 500px) {
    .popup__container {
        width: 290px;
        padding-top: 5px;
    }
}
