@import url(./__add-button/profile__add-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__container/profile__conteiner.css);
@import url(./__change/profile__change.css);

.profile {
    max-width: 882px;
    display: flex;
    margin: auto;
    padding-top: 40px;
}

@media screen and (max-width: 650px) {
    .profile {
        flex-direction: column;
    }
}
