.profile-info__text {
    color: white;
    margin-top: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 950px) {
    .profile-info__text {
        max-width: 305px;
    }
}

@media screen and (max-width: 650px) {
    .profile-info__text {
        margin: auto;
        max-width: 245px;
        font-size: 14px;
        line-height: 17px;
    }
}
