@import url(../../blocks/photo-popup/__container/photo-popup__container.css);
@import url(../../blocks/photo-popup/__img/photo-popup__img.css);
@import url(../../blocks/photo-popup/__text/photo-popup__text.css);

.photo-popup {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: visibility 1s, opacity 0.4s linear;
    position: fixed;
    padding-top: 18px;
}
