@import url(../../blocks/photo-popup/__close/photo-popup__close.css);
@import url(../../blocks/photo-popup/__container/photo-popup__container.css);
@import url(../../blocks/photo-popup/__img/photo-popup__img.css);
@import url(../../blocks/photo-popup/__text/photo-popup__text.css);

.photo-popup {
    visibility: hidden;
    display: flex;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.9);
    transition: visibility 1s, opacity 0.4s linear;
}
