.profile-info__title {
    color: white;
    margin-top: 22px;
    margin-bottom: 0;
    font-family: "Inter", ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    text-overflow: ellipsis;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 950px) {
    .profile-info__title {
        font-size: 32px;
        max-width: 305px;
    }
}

@media screen and (max-width: 650px) {
    .profile-info__title {
        margin: auto;
        font-size: 27px;
        max-width: 245px;
    }
}
