@import url(../vendor/normolize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/photo-popup/photo-popup.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/element/__btn/_active/element__btn_active.css);
@import url(../blocks/element/__image/_size/element__image_size.css);
@import url(../blocks/popup/__btn/_invalid/popup__btn_invalid.css);
@import url(../blocks/element/__trash/_owner/element__trash_owner.css);
