.element__trash {
    position: absolute;
    display: none;
    top: 18px;
    left: 249px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/trash.svg);
    width: 19px;
    height: 19px;
    background-size: cover;
    border: none;
}

.element__trash:hover {
    cursor: pointer;
    opacity: 0.6;
}
