@import url(./__title/profile-info__title.css);
@import url(./__edit-button/profile-info__edit-button.css);
@import url(./__text/profile-info__text.css);

.profile-info {
    margin-left: 30px;
}

@media screen and (max-width: 650px) {
    .profile-info {
        margin: auto;
        text-align: center;
    }
}
