.element__text {
    text-overflow: ellipsis;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 21px;
    font-family: "Inter", ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}
