@import url(./__text/footer__text.css);

.footer {
    max-width: 882px;
    padding-top: 66px;
    padding-bottom: 60px;
    margin: auto;
}

@media screen and (max-width: 840px) {
    .footer {
        padding-left: 20px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}
