.popup__btn_invalid {
    background-color: white;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__btn_invalid:hover {
    cursor: auto;
    background-color: white;
}
