.form {
    position: relative;
    padding: 40px 0 130px 170px;
    @media screen and (max-width: 1100px) {
        padding: 40px 16px 37px 16px;
    }
    max-width: 728px;
    display: flex;
    flex-direction: column;
    .input-title {
        font-size: 13px;
        line-height: 16px;
        margin: 16px 0 8px 0;
    }
}

.form__input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 375px;
    @media screen and (max-width: 768px) {
        width: 343px;
    }
    .form__input-container {
        display: flex;
        flex-direction: column;
    }
}

.form__input-container_type_cargo {
    width: 375px;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    .select {
        width: 100%;
    }
}

.form__input {
    padding-left: 14px;
    height: 45px;
    outline: none;
    font-size: 15px;
}

.form__title {
    font-weight: bold;
    font-size: 56px;
    margin: 0;
    @media screen and (max-width: 768px) {
        font-size: 30px;
    }
}

.form__step-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    p {
        font-size: 20px;
        line-height: 24px;
    }
}

.form__invisible-checkbox {
    display: none;
    & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        p {
            margin-left: 12px;
            font-size: 13px;
        }
    }
    & + label::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid #ffffff;
        cursor: pointer;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:checked + label::before {
        border-color: #ef483e;
        background-color: #ef483e;
        background-image: url("./../images/checked.svg");
    }
}
.invisible {
    display: none;
}

.visible {
    display: flex;
}

.form__text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.form__input_type_adres {
    margin-bottom: 5px;
    padding-left: 50px;
    position: relative;
    border: none;
    background: #4b4b4f;
    width: 100%;
    color: white;
    &::placeholder {
        color: #cfcfcf;
    }
}

.form__span {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border: 8px solid #ef483e;
        border-radius: 50px;
        top: 6px;
        left: 12px;
        z-index: 10;
    }
    &::after {
        content: "НЕ ВЫБРАНО";
        font-size: 13px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 119px;
        height: 24px;
        background: #717174;
        top: 10px;
        right: 10px;
        z-index: 9;
        box-shadow: -9px 0px 9px 2px rgb(75, 75, 79);
    }
}

.form__span_white {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border: 8px solid white;
        border-radius: 50px;
        top: 6px;
        left: 12px;
        z-index: 10;
    }
    &::after {
        content: "НЕ ВЫБРАНО";
        font-size: 13px;
        color: #b1b1b1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 119px;
        height: 24px;
        background: #585858;
        top: 10px;
        right: 10px;
        z-index: 9;
        box-shadow: -9px 0px 9px 2px rgb(75, 75, 79);
    }
}

textarea {
    resize: none;
    outline: none;
    height: 80px;
    padding: 14px 0px 0px 13px;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 15px;
    &::placeholder {
        font-size: 15px;
        color: #cfcfcf;
    }
}
fieldset {
    width: 100%;
    border: none;
    display: contents;
}

.form__message {
    position: absolute;
    top: 144px;
    right: -360px;
    width: 356px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4b4b4f;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 1100px) {
        width: 343px;
        position: static;
        margin-top: 40px;
    }
    p {
        margin: 0;
        font-size: 15px;
    }
}
