@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);
@import url(./__input/popup__input.css);
@import url(./__btn/popup__btn.css);
@import url(./__text/popup__text.css);
@import url(./__error/popup__error.css);
@import url(./__btn/_invalid/popup__btn_invalid.css);

.popup {
    visibility: hidden;
    display: flex;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 180px;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 1s, opacity 0.5s ease-in-out;
}
